.board {
  display: flex;
  height: 300px;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  margin: 20px 0;
}

.board.disabled {
  opacity: 0.5;
}

.cell {
  margin: 0.5px;
  width: 50px;
  border: 1px solid;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.board-row {
  width: fit-content;
  height: 100px;
  cursor: pointer;
}

.board-row :hover {
  background-color: lightgray;
}
